# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [5]:
#path for data
weather_csv = 'city_weather.csv'

In [6]:
weather_df = pd.read_csv(weather_csv)
weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,bengkulu,-3.80,102.27,75.33,89,55,3.40,ID,1602878570
1,1,constitucion,-35.33,-72.42,59.31,75,5,6.40,CL,1602878571
2,2,jalu,29.03,21.55,83.10,20,9,10.22,LY,1602878572
3,3,dikson,73.51,80.55,25.30,95,100,11.45,RU,1602878540
4,4,victoria,22.29,114.16,77.00,73,40,10.78,HK,1602878351

In [10]:
# Get the indices of cities that have humidity over 100%.
max_humidity = weather_df[weather_df["Humidity"] > 100].index

In [11]:
# Drop cities with humidity > 100 creating a new DataFrame
clean_weather = weather_df.drop(max_humidity, inplace=False)
clean_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,bengkulu,-3.80,102.27,75.33,89,55,3.40,ID,1602878570
1,1,constitucion,-35.33,-72.42,59.31,75,5,6.40,CL,1602878571
2,2,jalu,29.03,21.55,83.10,20,9,10.22,LY,1602878572
3,3,dikson,73.51,80.55,25.30,95,100,11.45,RU,1602878540
4,4,victoria,22.29,114.16,77.00,73,40,10.78,HK,1602878351
...,...,...,...,...,...,...,...,...,...,...
452,452,shingu,33.73,135.98,57.94,91,100,7.83,JP,1602879110
453,453,buta,2.79,24.73,68.63,96,25,0.65,CD,1602879111
454,454,recco,44.36,9.14,55.99,86,19,4.90,IT,1602879112
455,455,sinnamary,5.38,-52.95,83.98,66,0,13.73,GF,1602879113
456,456,fomboni,-12.28,43.74,79.38,71,1,3.85,KM,1602879115

In [13]:
# Convert the DF to an HTML
clean_weather.to_html('data.html')